.chalkboard-container{
    width: 100%;
    font-family: $bodyFont;
    text-align: center;
}

.chalkboard-card-container {
    @include flexbox($placeItems: space-around, $placeContent: center, $direction: row, $wrap: wrap);
    width: 100%;
}

.chalkboard-card{
    width: 33%;
    @include flexbox($placeItems: center, $direction: column, $wrap: wrap);
    padding: 10px;
    margin-bottom: 10px;
}

.chalkboard-card img{
    min-width: 200px;
    border-radius: 10px;
    border: solid 2px $primary;
    box-shadow: 2px 2px 2px $secondary;
}

.chalkboard-card p.title{
    font-size: 2rem;
}

.chalkboard-card p.description{
    // font-family: 'Asap Condensed', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

