.hero-container {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

main {
  padding: 1em;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

// * * * * INTRO BOX
.intro-box {
  max-width: 70%;
  font-size: 2rem;
  text-align: center;
  padding: 1.5em;
  border-radius: 15px;
  background-color: $primary;
}

h2.hello {
  font-size: 3rem;
  font-family: $headingFont;
}

a[href^="mailto"] {
  span {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
}
