/* * * * MOBILE FIRST STYLING * * * */
/* * * * Done in em's because it looks best across all 4 browsers, em x 16 because browsers default sizing is 16px * * * */
// 688px = 43em
@media (min-width: 43em){
    h1 {
        font-size: 4.75rem;
    }

    .card-container {
        @include flexbox($direction: row, $wrap: wrap);
    }

    .card{
        width: 45%;
    }
}

// 922px = 62em
@media (min-width: 62em){
    .header{
        width: 100%;
        @include flexbox($direction: row, $wrap: wrap);
        background: $primary;
    }

    .home{
        width: 30%;
    }

    .navigation{
         width: 50%;
    }

    .social-navigation{
        width: 20%;
    }

    .card{
        width: 33%;
    }
}

// 1312px = 82em
// @media (min-width: 82em){
  
// }