// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$bodyFont: 'Asap Condensed', sans-serif;
$headingFont: 'Staatliches', cursive;
$headingFontTwo: 'ZCOOL QingKe HuangYou', cursive;

// * * * * COLOURS
$primary: orange;
$secondary: orangered;
$third: gold;