@import './sass/variables.scss';
@import './sass/mixins.scss';
@import './sass/basecss.scss';
@import './sass/header.scss';
@import './sass/gallery.scss';

body{
    // background: #820000;
    background: linear-gradient(to right, orangered, orange, gold);
}

h1{
    @include fontSize(3.5rem);
    font-family: $headingFont;
}

@import './sass/responsive.scss';